<section class="thirteen columns">
    <h1>Education</h1>
    <!-- <article>
        <header>
            <h1>MSc in Advanced Computing</h1>
            <span>University of Glasgow</span>
            <span><address>Glasgow, UK</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article> -->
    <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>ISM Adonai</span>
            <span><address>Porto Novo, Benin Republic</address><time>2015 to 2019</time></span>
        </header>
        <p>
            <em>Certificate: B.Sc in Computer Science.</em>
        </p>
    </article>
</section>
