<section class="thirteen columns">
    <h1>Initiatives</h1>
    <!-- <article>
        <header>
            <h1>Assistant Teacher</h1>
            <span><address>Megabyte Technologies</address><time>2018</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article> -->
    <article>
        <header>
            <h1>Summer Student</h1>
            <span><address>Megabyte Computers</address><time>2016</time></span>
        </header>
        <p>
            Training
        </p>
    </article>
</section>