<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    	<h5>
			<i class="fa fa-android"></i> <i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/FlutterSocialAppUIKit">FlutterSocialAppUIKit</a></strong>
			- Flutter representation of a Social App Concept.
		</h5>
    	<h5>
			<i class="fa fa-android"></i> <i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/FlutterFoodybite">FlutterFoodybite</a></strong>
			- Flutter representation of a Restaurant app UI.
		</h5>
		<h5>
			<i class="fa fa-android"></i> <i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/FlutterTravel">FlutterTravel</a></strong>
			- Flutter representation of a Travel App Concept.
		</h5>
		<h5>
			<i class="fa fa-android"></i> <i class="fa fa-apple"></i> &nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/FlutterSuperHeroes">FlutterSuperheroes</a></strong>
			- A Flutter app that displays superheroes and villains from different universes
		</h5>
		<h5>
			<i class="fa fa-android"></i> <i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/material-about">material-about</a></strong>
			- An about screen to use in your Mobile apps.
		</h5>
    	<h5>
			<i class="fa fa-android"></i> <i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/Pokemon-App">Pokemon-App</a></strong>
			- Pokemon App with animations, beautiful UI and network call.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/FlutterPortfolio">FlutterPortfolio</a></strong>
			- A simple Portfolio site made with Flutter Web
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/QuickNotes-API">QuickNotes-API</a></strong>
			- An API for storing notes for users. it can be integrated in any platform (android, iOS or web apps).
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/ng-number-finder">ng-number-finder</a></strong>
			- A Node module to check what network provider a particular Nigerian Phone number is.
		</h5>
		<h5>
			<i class="fa fa-android"></i> <i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/wa_status">wa_status</a></strong>
			- A Flutter app to download WhatsApp statuses
		</h5>
		<h5>
				<i class="fa fa-android"></i> <i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/FlutterVideo">FlutterVideo</a></strong>
				- A mobile Video player made with Flutter
		</h5>
		<h5>
				<i class="fa fa-android"></i> <i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://github.com/JideGuru/FlutterTrailers">FlutterTrailers</a></strong>
				- A flutter App to download Movie Trailers.
		</h5>


    </div>
  </div>
</div>
</section>
